// .parameter-modal-content {
//     text-decoration: none;
//     outline: none;
// }
.buton {
    display: flex;
    justify-content: end;
    gap: 20px;
    button {
        width: 120px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
    }
}