body {
    padding: 0;
    margin: 0;
    background-color: white;
}

.sidebar {
    width: 200px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #222D31;
    position: fixed;
    padding: 20px;
}

.content-sidebar {
    margin-top: 100px;
    display: block;
    cursor: pointer;
    .menu-sidebar {
        margin-top: 20px;
        padding: 5px;
        .menu1 {
            margin-left: 20px;
            .link-menu {
                text-decoration: none;
                color: white;
                font-size: 12px;
            }
        }
    }
    .menu-sidebar:hover {
        background-color: orange;
        border-radius: 20px;
        transition: .2s;
        cursor: pointer;
        width: 160px;
    }
}

.butonn {
    text-align: left;
    font-size: 12px;
    width: 160px;
    color: white;
    display: flex;
    i {
        margin-right: 25px;
        margin-top: 2px;
    }
    p {
        margin-top: 5px;
    }
}

.sidebar-link {
    text-decoration: none;
}

@media screen and (max-width:1024px) {
    .sidebar {
        // display: none;
        height: 1000px;
    }
}

@media screen and (max-width:768px) {
    .sidebar {
        // display: none;
        height: 1000px;
    }
}