
.pembayaran {
    width: 550px;
    height: 550px;
    margin: auto;
    box-shadow: 2px 2px 5px 4px;
    margin-top: 150px;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    align-items: center;
    .field {
        display: flex;
        justify-content: space-between;
        p {
            line-height: 40px;
            font-weight: 700;
            font-size: 20px;
        }
        input, select {
            height: 40px;
            width: 250px;
            padding-left: 10px;
            border-radius: 10px;
        }
    }
    .button {
        justify-content: end;
        display: flex;
        button {
            width: 150px;
            height: 40px;
            border-radius: 20px;
            font-weight: 700;
            background-color: #C7F14F;
        }
    }
}