.tabel-history-pemasukan {
    background-color: white;
    height: auto;
    margin-top: 10px;
    padding: 30px 50px 20px 40px;
    .reset {
        display: flex;
        justify-content: space-between;
        .button-print {
            width: 220px;
            height: 40px;
            border-radius: 20px;
            background-color: #C7F14F;
        }
        .button-cetak {
            width: 120px;
            height: 40px;
            border-radius: 20px;
            background-color: #C7F14F;
        }
    }
    .tanggal {
        margin-top: 10px;
        .date {
            width: 130px;
            input {
                width: 120px;
                padding-left: 10px;
                line-height: 40px;
            }
        }
    }
}

.tanggal-cetak {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}