.tabel-income-admin {
    background-color: white;
    height: auto;
    margin-top: 10px;
    padding: 30px 50px 20px 40px;
    .cetak {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .button-print {
            width: 120px;
            height: 40px;
            border-radius: 20px;
            background-color: #C7F14F;
        }
        .button-tampil {
            width: 320px;
            height: 40px;
            border-radius: 20px;
            background-color: #C7F14F;
        }
    }
}
