

.table-penerimaan {
    background-color: white;
    height: auto;
    margin-top: 150px;
    padding: 50px 50px 20px 50px;
    .card-body {
        margin-left: 200px;
        .table-responsive {
            margin-top: 30px;
        }
    }
}
.card-body {
    .fungsi {
        display: flex;
        justify-content: space-between;
        .content-left {
            display: flex;
            gap: 20px;
            select {
                height: 30px;
                width: 150px;
            }
            p {
                line-height: 50px;
            }
        }
        .content-right {
            display: flex;
            gap: 20px;
            input {
                height: 30px;
            }
        }
    }
    .buton {
        display: flex;
        justify-content: end;
        gap: 20px;
        button {
            height: 30px;
            width: 100px;
            color: white;
            font-size: 14px;
            i {
                font-size: 20px;
            }
        }
    }
}

.toggle {
    width: 160px;
    text-align: left;
    background-color: #00AB4E;
    color: white;
    font-weight: 500;
}

.toggle:hover {
    background-color: orange;
    color: white;
}

.link {
    text-decoration: none;
}
