.profile {
    .header1 {
        background-color: #20A94D;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        padding: 10px;
        padding-left: 20px;
        color: white;
    }
    .header2 {
        background-color: #20A94D;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        padding: 10px;
        padding-left: 20px;
        color: white;
        margin-top: 20px;
    }
    .content1 {
        .content-top {
            display: flex;
            justify-content: space-between;
            .content-left {
                .field {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 15px;
                    padding-left: 30px;
                    p {
                        padding-right: 70px;
                        font-size: 18px;
                        font-weight: 600;
                    }
                    input {
                        height: 30px;
                        width: 250px;
                        box-sizing: border-box;
                        border-radius: 2px;
                        padding-left: 10px;
                    }
                }
            }
            .content-right {
                .field2 {
                    margin-top: 15px;
                    .gambar {
                        width: 250px;
                        height: 250px;
                        border: 1px solid black;
                    }
                }
            }
        }
        .content-bot {
            .button {
                display: flex;
                margin-left: 30px;
                margin-top: 20px;
                margin-right: 70px;
                button {
                    width: 150px;
                    height: 40px;
                    background-color: #20A94D;
                    color: white;
                    border-radius: 10px;
                    border: none;
                }
            }
        }
    }
    .content2 {
        display: flex;
        .field {
            display: flex;
            margin-top: 15px;
            padding-left: 30px;
            justify-content: space-between;
            p {
                padding-right: 50px;
                font-size: 18px;
                font-weight: 600;
            }
            input {
                height: 30px;
                width: 250px;
                box-sizing: border-box;
                border-radius: 2px;
                padding-left: 10px;
            }
        }
        .button {
            display: flex;
            margin-left: 30px;
            margin-top: 15px;
            padding-bottom: 30px;
            button {
                width: 150px;
                height: 40px;
                background-color: #20A94D;
                color: white;
                border-radius: 10px;
                border: none;
            }
        }
    }
}