.field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    input {
        width: 220px;
        height: 30px;
    }
    select {
        width: 220px;
        height: 30px;
    }
}

button {
    width: 130px;
}