.laporan-kas-masuk {
    .header {
        background-color: #20A94D;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        padding: 10px;
        padding-left: 20px;
        color: white;
        margin-bottom: 20px;
    }
    .datepicker-container {
        position: relative;
        z-index: 99;
        display: flex;
        justify-content: space-between;
        padding: 20px 50px;
        input {
            width: 200px;
            height: 30px;
            padding-left: 10px;
        }
        .button {
            button {
                width: 150px;
                height: 30px;
                background-color: #20A94D;
                color: white;
                border-radius: 10px;
                border: none;
            }
        }
    }
    .table {
        position: relative;
        z-index: 1;
    }
}