.table-pengeluaran {
    background-color: white;
    // margin-left: 200px;
    // width: 80%;
    height: 560px;
    margin-top: 150px;
    padding: 50px;
    .card-body {
        margin-left: 200px;
        .table-responsive {
            margin-top: 30px;
        }
    }
}