.tabel-history {
    background-color: white;
    height: auto;
    margin-top: 10px;
    padding: 30px 50px 20px 40px;
    .card-body {
        margin-left: 200px;
        .table-responsive {
            margin-top: 30px;
        }
    }
    .buton {
        display: flex;
        justify-content: end;
        gap: 20px;
        button {
            width: 120px;
            height: 40px;
            border-radius: 20px;
            background-color: #C7F14F;
        }
    }
}