.penyerahan-kas {
    .header {
        background-color: #20A94D;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        padding: 10px;
        padding-left: 20px;
        color: white;
        margin-bottom: 20px;
    }
    .content1 {
        display: flex;
        justify-content: space-around;
        .field {
            display: flex;
            justify-content: space-between;
            margin-top:25px;
            p{
                font-size: 18px;
                font-weight: 600;
            }
            input {
                height: 30px;
                width: 250px;
                padding-left: 10px;
                box-sizing: border-box;
                border-radius: 2px;
                margin-left: 60px;
            }
            .input-gambar {
                height: 30px;
                width: 300px;
                margin-bottom: 10px;
            }
        }
        h6 {
            justify-content: end;
            display: flex;
            text-align: right;
            font-size: 14px;
        }
    }
    .button {
        display: flex;
        justify-content: end;
        margin-right: 70px;
        button {
            width: 150px;
            height: 30px;
            background-color: #20A94D;
            color: white;
            border-radius: 10px;
            border: none;
        }
    }
}